<h1>List of Museums</h1>

  <% @museums.each do |museum| %>
    <%= render partial: 'museum', locals: {museum: museum} %>
  <%end%>

  <br>

  <% if @artist %>
  <p>
    <%= link_to "Back to profile", artist_path(@artist), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'Open New Museum', new_museum_path %></p>
<% end %>